<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.scss">
</head>
<body>
  <% if @products.any? %>
            <table class="product-table">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>Product Name</th>
                  <th>Store</th>
                  <th>Brand</th>
                  <th>Weight</th>
                  <th>Min Qty</th>
                  <th>Price Ea.</th>
                  <th>Price/100gr</th>
                  <th>Add to my list</th>
                </tr>
              </thead>
              <tbody>
          <% @products.each do |product| %>
                <tr>
                  <td><i class="fa-solid fa-circle small-icon" style="color: #96e696;"></i></td>
                  <td>*</td>
                  <td><%= product.name %></td>
                  <td><%= product.stores[0].name%></td>
                  <td><%= product.brand %></td>
                  <td><%= product.weight %></td>
                  <td>2</td>
                  <td class="price-cell"><%= product.product_prices[0].price %></td>
                  <td class="price-cell">$0.44</td>
                  <td class="action-cell">+</td>
                </tr>
              <% end %>
              </tbody>
            </table>
        <% else %>
          <em>Sorry, no food found.</em>
        <% end %>
</body>
</html>
